<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Administrador</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="../js/Administrador.js"></script>
    
</head>
<body>
    <div class="container mt-5">
        <h2>Bienvenido, Administrador</h2>
        
        <!-- Botones para redirigir a diferentes vistas -->
        <div class="mt-3">
            <button class="btn btn-primary btn-lg mb-3" onclick="redirectToCursos()">Cursos</button>
            <button class="btn btn-secondary btn-lg mb-3" onclick="redirectToMaterias()">Materias</button>
            <button class="btn btn-success btn-lg mb-3" onclick="redirectToUsuarios()">Usuarios</button>
            <button class="btn btn-info btn-lg mb-3" onclick="redirectToPersonas()">Personas</button>
            <button class="btn btn-danger btn-lg mb-3" onclick="redirectToNotas()">Notas</button>
            <button class="btn btn-primary btn-lg mb-3" onclick="redirectToRol()">Rol</button>
        </div>
    </div>
</body>
</html>
