<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Profesor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Bienvenido, Profesor</h2>
        
        <!-- Botones para interactuar -->
        <div class="mt-3">
            <button id="btnSubirNotas" class="btn btn-primary btn-lg" onclick="subirNotas()">Subir Notas</button>
            <button id="btnRegistrarAsistencia" class="btn btn-success btn-lg ml-3" onclick="registrarAsistencia()">Registrar Asistencia</button>
        </div>
    </div>
    <script src="D:\Escritorio\ArchivosUni\analisisSistemas\PlanillEscolarFront\js\Profesor.js"></script>
</body>
</html>
