<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Roles</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Gestión de Roles</h2>
        
        <!-- Formulario para Crear/Editar Rol -->
        <form id="crudForm">
            <input type="hidden" id="id" name="id">
            <div class="form-group">
                <label for="rol_name">Nombre del Rol</label>
                <input type="text" class="form-control" id="rol_name" name="rol_name" required>
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <input type="text" class="form-control" id="description" name="description" required>
            <div>
            <button type="button" class="btn btn-primary" onclick="createOrUpdate()">Guardar</button>
            <button type="button" class="btn btn-secondary" onclick="resetForm()">Limpiar</button>
        </form>

        <!-- Tabla para mostrar los Roles -->
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre del Rol</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="dataBody">
                <!-- Se cargará con los datos de la API -->
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../js/Rol.js"></script>
</body>
</html>
